*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    
}

body{
    background-color: #E1E5EE;
    font-family: "Montserrat", sans-serif;
    
}


.container{
    
    margin: auto;
    width: 50%;
}