*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E1E5EE;

    
}


.container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btnContent{
    display: flex;
    gap: 5px;;
    text-decoration: none;
}

.btnContent button{
    background-color:#2A324B; 
    color: #fff;
    
}

